// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.profileImg{
    width: 200px;
    height: 200px;
    border: 5px solid white;
}

.backImg{
    width: 100%;
    height: 300px;
}

.ns{
    font-size: 2em;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fImg{
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.fbtn{
    background-color: gray;
    border: 2px solid black;
    color: white;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    height: 30px;
}

.fbtn:hover{
    background-color: rgb(71, 70, 70);
}

.postImg{
    width: 20em;
    height: 20em;
}